{% extends "base.html" %} {% block head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="{{ url_for('static', filename='js/dashboard-charts.js') }}"></script>
{% endblock %} 
{% block body %}
<br />
<div>
  <div>
    <div>
      <div>
        <div>
          <div>
            <div class="flex flex-inline">
              <div class="w-full lg:w-6/12 px-4 rounded">
                <div
                  class="relative flex min-w-0 break-words bg-gray-100 rounded mb-6 xl:mb-0 shadow-lg"
                >
                  <div class="flex-auto p-4">
                    <h2 class="font-bold text-gray-800">Daily Statistics</h2>
                      <div x-data="{ chart: chartData('{{ g.jwt_token }}') }" x-init="chart.fetch();">
                        <div class="inline-block">
                          <template x-for="(item,index) in chart.timelineOptions">
                            <button class="px-4 py-2 text-gray-500 rounded-lg hover:text-gray-800 text-xs transition-colors duration-100 focus:outline-none cursor-pointer" :class="{'text-blue-600':index==chart.selectedOption}" @click="chart.selectOption(index);">
                              <span x-text="item.label"></span>
                            </button>
                          </template>
                        </div>
                        <canvas id="daywiseChart"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="relative flex min-w-0 break-words bg-gray-100 rounded mb-6 xl:mb-0 shadow-lg"
                >
                  <div class="flex-auto p-4" x-data="{ todaysChart: todaysStats('{{ g.jwt_token }}') }" x-init="todaysChart.fetch()">
                    <h2 class="font-bold text-gray-800">Today's Stats</h2>
                    <span class="font-bold text-sm">Total time today: <span x-text="prettifyMinutes(todaysChart.data.total)"></span></span>
                    <canvas id="todaysStats"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
