{% extends "base.html" %}
{% block body %}
  <div class="flex flex-wrap items-center justify-center p-12 space-y-6">
    <div class="p-4 w-3/4 bg-white text-gray-800 center rounded-lg shadow-lg space-y-4">
      <h3>Hello! <strong>{{ session['profile']['name'] }}</strong></h3>
      All your profile details are being loaded from GitHub. Your profile photo here will be updated automatically
      when you change it on GitHub.

      <div class="p-4 w-3/4 bg-white text-gray-800 border border-gray-400 center rounded-lg shadow-lg">
        <b>Your real-time activity:</b> {{ g.user.current_activity_message }}
      </div>

      <div class="p-4 w-3/4 bg-white text-gray-800 border border-gray-400 center rounded-lg shadow-lg">
        Your API Key is <strong>{{ g.user.api_key }}</strong>. Download the <a class="underline hover:text-green-600 hover:font-bold" href="https://marketplace.visualstudio.com/items?itemName=DevTime.devtime">VS-Code extension for DevTime</a>, and 
        provide this key when asked for it. You can also input it manually after installing the extension with  <strong><code>Ctrl + Shift + P</code> -> <code> >Devtime: Login </code></strong>  or  <strong><code> Ctrl + Shift + P</code> -> <code> >Devtime: Setup</code></strong>
      </div>
    </div>
  </div>
{% endblock %}